<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet" />
    <title>Show Users</title>
  </head>
  <body class="bg-blue-50 text-gray-800">
    <div class="flex items-center justify-center min-h-screen py-12">
      <div class="bg-white shadow-xl rounded-lg p-8 w-full max-w-2xl mx-auto">
        <h1 class="text-3xl font-bold mb-4 text-blue-700 text-center">List of Users</h1>
        <div class="overflow-x-auto">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Age</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              {% for user in users %}
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ user.name }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ user.email }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ user.age }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
            <a 
            href = "/create"
            class="mt-8 w-full px-4 py-2 bg-blue-600 text-white rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
            >
            Add New User
    </a>
      </div>
    </div>
  </body>
</html>
